$theme-color: rgb(171, 0, 0);
$font-small: 12px;
$bright-font: white;
$dark-font:black;
#top_navbar {
    padding-top: 1rem;
    .logo {
        float: left;
        width: 20%;
    }
    .logged_user {
        position: relative;
        span {
            position: absolute;
            right: 80px;
        }
        button {
            position: absolute;
            right: 0;
        }
        .logout {
            cursor: pointer;
            padding: 5px 10px;
        }
    }
}

.table.dashboard_table {
    td,
    th {
        padding: 0.25rem;
        text-align: center;
    }
    thead {
        background-color: grey;
        color: $bright-font;
    }
}

.table.non_surgical_table {
    td,
    th {
        padding: 0.25rem;
        text-align: center;
    }
    thead {
        background-color: rgb(161, 161, 161);
        color: $bright-font;
    }
}

.clear_fix {
    clear: both;
}

.main-content {
    margin-top: 1rem;
}

.form_filter {
    margin: 15px 0px;
    padding: 15px 0px;
    border-bottom: 1px dotted black;
}

input {
    width: 100%;
}

.btn-search {
    width: 100%;
    margin-top: 32px;
    background-color: $theme-color;
    color: $bright-font;
}

.data_filter {
    .num_records {
        float: left;
        width: 30%;
        font-size: $font-small;
    }
    .rows_per_page {
        float: right;
        width: 30%;
    }
}

.actions {
    width: 100%;
    justify-content: center;
    .btn {
        margin-right: -3px;
    }
}

//LC 
#myTabContent {
    background-color: #f5f5f5;
}

.m_15 {
    height: 15px;
    width: 100%;
}

.page_title {
    padding: 15px;
}

.lc_content {
    border: 1px solid black;
    border-radius: 10px;
}

.sub_page_title {
    h4 {
        padding: 15px;
        margin: -1px -15px 15px -15px;
        background-color: grey;
        color: white;
        border-radius: 10px 10px 0 0;
    }
}

.btn_save {
    position: relative;
    height: 100px;
    .btn {
        position: absolute;
        right: 15px;
        width: 100px;
    }
}

#Recent {
    margin-bottom: 40px;
}

#surgical_procedure_modal {
    .modal-dialog {
        max-width: 98%;
    }
}

.fee {
    position: absolute;
    left: 10px;
    top: 0;
}

.fee_unit {
    padding: 0;
    padding-left: 25px;
    line-height: 1;
    min-width: 90px;
}

.gst,
.status {
    padding: 0 .375rem;
    min-width: 130px;
    height: calc(2.25rem + -10px);
}

.sub_form,
.non_surgical_sub_form {
    background-color: aliceblue;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid lightgrey;
}

@media (min-width: 600px) {
    #sub_form_modal {
        background-color: rgba(128, 128, 128, 0.89);
        .modal-dialog {
            max-width: 50%;
        }
    }
}

@media (max-width: 599px) {
    #sub_form_modal {
        background-color: rgba(128, 128, 128, 0.89);
    }
}

ol.order_list {
    width: 90%;
    margin: 1rem auto;
}

.signature_box {
    width: 90%;
    margin: auto;
    .principal_name_field {
        width: 50%;
        margin: 30px 5%;
        padding-top: 10px;
        border-top: 1px solid black;
        float: left;
        text-align: center;
    }
    .mcr_num {
        width: 30%;
        float: left;
        margin: 30px 5%;
        padding-top: 10px;
        border-top: 1px solid black;
        text-align: center;
    }
}